# --- RUST ---
# Evita que se suban archivos muy pesados que se generan al compilar el proyecto Rust.
# Estos archivos no son necesarios para compartir el código fuente y pueden ocupar mucho espacio en el repositorio.
/target/

# --- IDEs ---
# Ignora configuraciones personales de VS Code e IntelliJ IDEA.
.vscode/
.idea/

# --- SISTEMA ---
# Archivos basura de Windows/Mac
Thumbs.db
.DS_Store

# Archivos temporales de edición de PDF (si se generan al editar el PDF)
~$*.pdf